# ignore sql dumps
*.sql

# ignore Visual Studio files
SeverTest/.vs/
SeverTest/obj/Debug/
SeverTest/obj/Debug/net8.0/
SeverTest/obj/Debug/net8.0-windows/
SeverTest/bin/
SeverTest/.vs/ServerTest/v18/.suo
SeverTest/.vs/ServerTest/v18/DocumentLayout.backup.json
SeverTest/.vs/ServerTest/v18/DocumentLayout.json
SeverTest/bin/Debug/net8.0-windows/ServerTest.dll
SeverTest/bin/Debug/net8.0-windows/ServerTest.exe
SeverTest/bin/Debug/net8.0-windows/ServerTest.pdb
SeverTest/obj/Debug/net8.0-windows/ServerTest.AssemblyInfo.cs
SeverTest/obj/Debug/net8.0-windows/ServerTest.AssemblyInfoInputs.cache
SeverTest/obj/Debug/net8.0-windows/ServerTest.dll
SeverTest/obj/Debug/net8.0-windows/ServerTest.pdb
SeverTest/obj/Debug/net8.0-windows/ServerTest.sourcelink.json
SeverTest/obj/Debug/net8.0-windows/apphost.exe
SeverTest/obj/Debug/net8.0-windows/ref/ServerTest.dll
SeverTest/obj/Debug/net8.0-windows/refint/ServerTest.dll
SeverTest/obj/project.nuget.cache
SeverTest/.vs/ServerTest/DesignTimeBuild/.dtbcache.v2
SeverTest/obj/Debug/net8.0-windows/ServerTest.assets.cache
SeverTest/obj/Debug/net8.0-windows/ServerTest.csproj.FileListAbsolute.txt
